.error-display {
	color: #f4726d;
	font-style: italic;
	font-size: 80%;
}

.img-circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}
img.show-profile {
	width: 40px;
	height: 40px;
	margin-top: 5px;
}